* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --mobile-width: 325px;
  --mobile-height: 690px;
  --mobile-radius: 25px;
  --separator-height: 500px;
  --bg: #fdf3f2;
  --mobile-bg: #fdeae6;
  --intro-bg: #eed7d1;
  --font-color: #807b7b;
  --transition: transform 0.7s ease-in-out;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
}

.info {
  font-family: "Quicksand", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 26px;
  margin-top: 10px;
  color: var(--font-color);
}

.mobile-layout {
  width: var(--mobile-width);
  height: var(--mobile-height);
  margin: 30px 0;
  border-radius: var(--mobile-radius);
  perspective: 500px;
  overflow: hidden;
  color: var(--font-color);
  background-color: var(--mobile-bg);
  box-shadow: 36px 36px 50px 15px #eed7d1d1;
}
.mobile-layout .notification-header {
  position: fixed;
  top: 5px;
  width: 100%;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  z-index: 6;
}
.mobile-layout .actions {
  position: fixed;
  top: 37px;
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  z-index: 6;
}
.mobile-layout .book-cover {
  position: relative;
  height: var(--separator-height);
  width: calc(var(--mobile-width) * 2);
  left: -52.5%;
  border-top-left-radius: var(--mobile-radius);
  border-top-right-radius: var(--mobile-radius);
  background-color: var(--intro-bg);
  transform-style: preserve-3d;
  transform-origin: 50% 40%;
  transition: var(--transition);
  z-index: 4;
}
.mobile-layout .book-top {
  width: 165px;
  height: 255px;
  position: absolute;
  top: 180px;
  left: 250px;
  z-index: 5;
  border-radius: 8px;
  transform: translateZ(28.5px);
}
.mobile-layout .book-side {
  position: absolute;
  top: 430px;
  left: 222px;
  transform: translateY(-15px) translateX(0px) translateZ(15px) rotateX(104deg);
}
.mobile-layout .book-cover:hover {
  transform: rotateX(75deg) translateZ(3px) scale(0.75);
}
.mobile-layout .book-cover:hover + .preface {
  transform: translateY(-302px);
}
.mobile-layout .book-cover:hover + .preface .icon {
  transform: rotateX(180deg);
}
.mobile-layout .preface {
  height: var(--separator-height);
  padding: 50px;
  transition: var(--transition);
  background: white;
}
.mobile-layout .preface .header {
  display: flex;
  align-items: center;
}
.mobile-layout .preface .title {
  font-family: "Quicksand", sans-serif;
  font-size: 26px;
  margin-bottom: 10px;
}
.mobile-layout .preface .author {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  margin-bottom: 20px;
}
.mobile-layout .preface .icon {
  transform-origin: top;
  transition: var(--transition);
}
.mobile-layout .preface .body {
  font-family: "Quicksand", sans-serif;
}
.mobile-layout .preface .body p:first-child {
  margin-bottom: 15px;
}

/* From uiverse.io by @alexmaracinaru */
.cta {
  position: relative;
  margin: auto;
  align-items: center;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
 }
 
 .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #eed7d1d1;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
 }
 
 .cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #000;
 }
 
 .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #000;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
 }
 
 .cta:hover:before {
  width: 100%;
  background: #eed7d1d1;
 }
 
 .cta:hover svg {
  transform: translateX(0);
 }
 
 .cta:active {
  transform: scale(0.95);
 }